<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Live Streaming</title>
    <style>
        .container {
            width: 80vw;
            margin: auto;
        }

        .container > div > img {
            margin: auto;
            width: 640px;
            width: 480px;
        }
    </style>
</head>
<body>
    <div class="container">
        <h3>Live Streaming</h3>
        <div>
            <img src="{{ url_for('video_feed') }}" width="100%">
        </div>
    </div>
</body>
</html>